body{
position: relative;
width: 1024px;
height: 1024px;

background: #F2F2F2;
}

.header {
    position: relative;
    width: 1024px;
    height: 64px;
    left: 0px;
    top: 0px;
    
    background: #4A90E2;
}
    
.logo {
    position: absolute;
    width: 121px;
    height: 24px;
    left: 42px;
    top: 20px;
    color: #fff;
}
    
.user{
    position: absolute;
    width: 71px;
    height: 18px;
    left: 879px;
    top: 23px;
    color: #fff;
}
.postlist {
    position: absolute;
    width: 725px;
    height: 977px;
    left: 150px;
    top: 70px;
    
    mix-blend-mode: normal;
    opacity: 0.8;
    
    box-sizing: border-box;        
}

.post {
    position: relative;
    width: 700px;
    height: 250px;
    left: 162px;
    top:20px;
    margin-bottom:20px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
    border-radius: 4px;
}

.title{
position: relative;
width: 100px;
height: 32px;
padding: 20px 0px 10px 40px;
}

.author{
position: absolute;
height: 17px;
top: calc(50% - 17px/2 - 7.5px);
font-family: Helvetica;
font-size: 14px;
line-height: 16px;
/* identical to box height */

color: #4A4A4A;
}

.date {
    
position: absolute;
height: 13px;

top: calc(50% - 13px/2 + 9.5px);

font-family: Helvetica;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #9A9A9A;
}

.content-text{
padding: 0px 0px 0px 40px;
position: absolute;
width: 660px;
height: 22px;

font-family: Helvetica;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #3E3E3E;
}

.line{
    position: absolute;
    width: 620px;
    height: 1px;
    margin-top:20px;
    
    background: #EEEEEE;
}

.box-comment{
    position: absolute;
width: 622px;
height: 100px;
margin-top:60px;
margin-left:40px;

background: #EEEEEE;
border-radius: 20px;
}

.author-comment{
    position: absolute;
width: 592px;
height: 80px;
padding: 10px;

font-family: Helvetica;
font-size: 13px;
line-height: 20px;
/* or 154% */


color: #3E3E3E;
}

